@inherits LayoutComponentBase


<div class="main p-0" id="#test">
    <NavMenu />
    <div class="content">
        @Body
    </div>
    <br /><br />
</div>

<BlazoredToasts Position=" Blazored.Toast.Configuration.ToastPosition.BottomRight"
                Timeout="1" />

@code{

}

